<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Secret</key>
	<string>d6OXwc9buSqngWWD8ej38FTxO7VFs89agNi9dFjj17Ck5eERpN</string>
	<key>API Key</key>
	<string>3to6tX5wYylR9SdZEfELHUDRK</string>
</dict>
</plist>
